.article{
    position: relative;
    line-height: 23px;
}
.article h1{
    position: relative;
    width: 638px;
    top: 100px;
    text-align: center;
    font-size: 20px;
    color: #b5b5b5;
    border-bottom: solid 2px #b5b5b5;
    font-family: "nicomoji";
    margin: 0 auto;
}


.bricks{
    position: relative;
    width: 653px;
    top: 115px;
    margin: 0 auto;
}


.cluster{
    width: 207px;
    display: box;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
}
.cluster img{
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
}
.cluster:hover{
    -webkit-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}
.cluster a{
    text-decoration: none;
}


.cluster-content{
    position: relative;
    width: 100%;
}
.cluster h3{
    position: relative;
    width: 180px;
    top: -20px;
    color: #000;
    margin: 0 auto;
    padding-bottom: 0px;
    margin-bottom: 20px;
}


.body-left .fig figcaption{
    position: absolute;
    width: 207px;
    height: 100%;
    top: -3px;
    left: 0px;
    z-index: 2;
    background: rgba(0,0,0,.4);
    -webkit-transition: .5s ease;
    transition: .5s ease;
    opacity: 0;
}
.body-left .fig figcaption:hover{
    opacity: 1;
}
.body-left .tag{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 50px;
    height: 20px;
    font-size: 15px;
    color: #fffaf0;
}
.body-left .tag h4{
    position: absolute;
    width: 50px;
    text-align: center;
    margin: auto;
    color: #fffaf0;
    border-bottom: solid 1px #fff;
}


.cluster-data{
    position: relative;
    outline: none;
    top: -25px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    width: 40px;
    height: 40px;
    z-index: 20;
    -webkit-border-radius: 25px;/* width,heightの半分 */
    -moz-border-radius: 25px;
    border-radius: 25px;
    background-color: #252525;/* 円の色 */
    display: box;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}
.day{
    position: absolute;
    top: 3px;
    right: 0;
    left: 0;
    font-size: 15px;
    text-align: center;
    color: #fffaf0;
}
.month{
    position: absolute;
    top: 17px;
    right: 0;
    left: 0;
    font-size: 12px;
    text-align: center;
    color: #fffaf0;
}
.comment{
    position: absolute;
    bottom: -20px;
    left: 140px;
    color: #b5b5b5;
    font-size: 10px
}