.body{
    width: 1020px;
    margin: 0 auto;
    font-family: "kikaifont";
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a{
    outline: none;
    color: #000;
}

.body-left{
    width: 678px;
    left: 0px;
    float: left;
    margin-left: -10px;
}

.body-right{
    width: 342px;
    height: 2000px;
    top: 0px;
    right: 0px;
    float: left;
    margin: 0 auto;
    z-index: 500;
    line-height: 23px;
}