@font-face{
    font-family: nicomoji;
    src: url('../font/nicomoji-plus_v0.9.ttf') format("truetype");
}

@font-face{
    font-family: kikaifont;
    src: url('../font/JISZ8903-Medium.otf') format("opentype");
}

@font-face{
    font-family: lightnovelPOP;
    src: url('../font/lightnovelPOP.otf') format("opentype");
}

@font-face{
    font-family: honoka;
    src: url('../font/font_1_honokamin.ttf') format("truetype");
}


.body{
    width: 1020px;
    margin: 0 auto;
    font-family: "kikaifont";
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a{
    outline: none;
    color: #000;
}

.body-left{
    width: 658px;
    left: 0px;
    float: left;
    margin-left: 20px;
}

.body-right{
    width: 342px;
    height: 2000px;
    top: 0px;
    right: 0px;
    float: left;
    margin: 0 auto;
    z-index: 500;
    line-height: 23px;
}