.footer{
    position: relative;
    width: 850px;
    height: 0px;
    border-top: solid 2px #b5b5b5;
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
    clear: left;
}


.page-top{
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 10;
}
.boton{
    position: absolute;
    top: 20px;
    left: 19px;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border-top: solid 3px #252525;
    border-right: solid 3px #252525;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    z-index: 15;
}
.page-top a{
    outline: none;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;/* width,heightの半分 */
    -moz-border-radius: 25px;
    border-radius: 25px;
    background-color: #b5b5b5;/* 円の色 */
    display: block;
}
.page-top a:hover{
    background: #999;
}