.header{
    position: relative;
    width: 850px;
    top: 40px;
    padding: 0px;
    margin: 0 auto;
    font-family: "honoka";
    border-bottom: solid 1px #959595;
}

.menu{
    position: absolute;
    list-style-type: none;
    right: 0px;
    top: -45px;
}

.menu img{
    padding-top: 9px;
}

.menu li{
    width: 80px;
    float: left;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.menu li a{
    width: auto;
    color: #666;
    font-size: 12px;
    font-weight: bold;
    padding: 8px 0;
    text-decoration: none;
    display: block;
}

.menu li a:hover{
    color: #555;
}